<nav class="bg-black/95 text-zinc-200 shadow-[0_4px_6px_-1px_rgba(0,0,0,0.5)] fixed top-0 left-0 w-full h-15 z-50 ">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <!-- Logo -->
      <div class="flex items-center space-x-2">
        <img src="https://preview.redd.it/which-nrs-mk-game-do-you-think-has-the-best-logo-v0-ydtewlodvv6c1.png?width=640&crop=smart&auto=webp&s=8fdf21573e36431405e4ab33fc4b9a74fa89d3d2" alt="img" class="w-10 h-10" >
        <span class="text-3xl font-semibold tracking-wide">MOVRE</span>
      </div>

      <!-- Links -->
      <div class="hidden md:flex space-x-6">
        <a href="#" class="hover:text-yellow-600 transition">Top Películas</a>
        <a href="#" class="hover:text-yellow-600 transition">Por Director</a>
        <a href="#" class="hover:text-yellow-600 transition">Por Actor</a>
        <a href="#" class="hover:text-yellow-600 transition">Usuarios</a>
      </div>

      <!-- Botón filtro o login -->
      <div>
        <button
          class="bg-yellow-600 hover:bg-yellow-700 text-zinc-100 font-semibold px-4 py-2 rounded transition"
          type="button"
        >
          Filtrar
        </button>
      </div>
    </div>
  </div>
</nav>
